<footer class="redsky-footer">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-10 is-offset-1 redsky-footer--line"></div>
      <div class="column is-2">
        <img src="img/redsky_footer.png" alt="">
      </div>
      <div class="column is-8 redsky-footer--upper">
        <h1>CALL (907) 401-4045</h1>
        <h4>For more information</h4>
        <p>Or Reach Us Via Email <a href="mailto:roby@redskysportfishing.com">roby@redskysportfishing.com</a></p>
      </div>
      <div class="column is-12 redsky-footer--lower">
        <p>
          <a href="#">Fishing License</a>
          <span><a href="#">Pricing Packages</a></span>
          <span><a href="#">View Accommodations</a></span>
          <span><a href="#">How to Pack</a></span>
          <span><a href="#">How to Get Here</a></span>
          <span><a href="#">Contact Us</a></span>
         </p>
      </div>
    </div>
  </div>
</footer>
<div class="nc-footer">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <p>Copyright 2019. All Rights Reserved.  Designed & Developed by North CreativeTM Design Co., LLC in Ketchikan, Alaska</p>
      </div>
    </div>
  </div>
</div>
