<nav class="navbar {{page}}" role="navigation" aria-label="navigation">
  <div class="navbar-brand">
    <div class="navbar-item">
      <a href="/" class="logo"><img src="/img/nav_logo.png" alt="" width="21.75rem" height="21.75rem"></a>
    </div>
    <div class="navbar-burger burger" data-target="redSkyNav">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu" id="redSkyNav">
    <div class="navbar-end">
      <a href="/" class="navbar-item">HOME</a>
      <a href="/#about" class="navbar-item">ABOUT US</a>
      <a href="/pricing" class="navbar-item">PRICING</a>
      <a href="/travel" class="navbar-item">HOW TO GET HERE</a>
      <a href="/packing" class="navbar-item">HOW TO PACK</a>
      <a href="/contact" class="navbar-item">CONTACT</a>
    </div>
  </div>
</nav>
