<div class="hero travel-hero is-fullheight">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-12 has-text-centered has-text-white travel-hero--text">
        <h5>Drop The Line</h5>
        <h5 class="rotate">></h5>
      </div>
      <div class="column is-10 is-offset-1 travel-hero--line"></div>
    </div>
  </div>
</div>


<section class="section travel--header">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <h1>HOW TO GET HERE</h1>

        <h3>UNPARALLELED SIGHTS ON YOUR WAY HERE</h3>

        <p class="travel--header__upper">RedSky Sportfishing is located in Klawock, Alaska on Prince of Wales Island and it is only a 30 min. flight from Ketchikan, Alaska. Ketchikan has an international airport, which is accessible by a 5 minute ferry ride, leaving the island of Ketchikan 15 minutes before and after every hour. <br>From Ketchikan airport we suggest using  <a href="https://islandairx.com/" target="blank">Island Air Express.</a></p>

        <p class="travel--header__lower">Below is the 2019 Summer Schedule for Island Air Express for your convenience.</p>
      </div>
    </div>
  </div>
</section>

<section class="section travel--schedule">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12 has-text-centered">
        <h2>SUMMER SCHEDULE</h2>
        <h5>Effective June 6th to August 24th, 2019</h5>
        <p>Subject to change without notice. For reference only.</p>
      </div>
      <div class="column is-11 is-offset-1">
        <table class="table travel--table">
          <thead>
            <th scope="col">FLIGHT</th>
            <th scope="col">FROM</th>
            <th scope="col">TO</th>
            <th scope="col">DEPART</th>
            <th scope="col">ARRIVE</th>
            <th scope="col">FREQUENCY</th>
          </thead>
          <tbody>
            <tr>
              <th scope="row">501</th>
              <td>Ketchikan</td>
              <td>Klawock</td>
              <td>9:30 am</td>
              <td>10:00 am</td>
              <td>Daily</td>
            </tr>
            <tr>
              <th scope="row">503</th>
              <td>Ketchikan</td>
              <td>Klawock</td>
              <td>1:15 pm</td>
              <td>1:45 pm</td>
              <td>Daily</td>
            </tr>
            <tr>
              <th scope="row">505</th>
              <td>Ketchikan</td>
              <td>Klawock</td>
              <td>4:00 pm</td>
              <td>4:30 pm</td>
              <td>Daily</td>
            </tr>
            <tr>
              <th scope="row">507</th>
              <td>Ketchikan</td>
              <td>Klawock</td>
              <td>6:00 pm</td>
              <td>6:30 pm</td>
              <td>Daily</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">500</th>
              <td>Klawock</td>
              <td>Ketchikan</td>
              <td>7:00 am</td>
              <td>7:30 am</td>
              <td>Daily</td>
            </tr>
            <tr>
              <th scope="row">502</th>
              <td>Klawock</td>
              <td>Ketchikan</td>
              <td>10:30 am</td>
              <td>11:00 am</td>
              <td>Daily</td>
            </tr>
            <tr>
              <th scope="row">504</th>
              <td>Klawock</td>
              <td>Ketchikan</td>
              <td>2:20 pm</td>
              <td>2:50 pm</td>
              <td>Daily</td>
            </tr>
            <tr class="bottom">
              <th scope="row">506</th>
              <td>Klawock</td>
              <td>Ketchikan</td>
              <td>5:00 pm</td>
              <td>5:30 pm</td>
              <td>Daily</td>
            </tr>
          </tbody>
        </table>

        <p>Ground transportation is provided to and from the Klawock Airport and to the boat.</p>

        <p>You can also access Prince of Wales island via the Inter-Island Ferry, which leaves Ketchikan daily.</p>

        <p>Our fishing season runs from June 10th until August 31st. We primarily target King Salmon above other species and will fish for others once King limits has been obtained.  Within just a few minutes of leaving the dock you will be fishing for Alaska King Salmon, Coho Salmon, Halibut, Yellow Eye, and Lingcod.</p>

        <p>Not sure what to bring? Check out our How to Pack page, for all the best tips for how to prepare for Southeast Alaska adventure!</p>

      </div>
    </div>
  </div>
</section>

<section class="travel--map">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column is-12">
        <img src="/img/travel_map.png" alt="">
      </div>
    </div>
  </div>
</section>
