<div class="hero index-hero is-fullheight">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-12 has-text-centered has-text-white index-hero--text">
        <h3 class="index-subtitle">prince of wales island, alaska</h3>
        <h1 class="index-title">DON’T GO HOME WITHOUT A STORY</h1>
        <h2>/</h2>
        <h3 class="arrow">^</h3>
        <h3 class=fish-story>Big Fish Story</h3>
        <h5>Drop The Line</h5>
        <h5 class="rotate">></h5>
      </div>
      <div class="column is-10 is-offset-1 index-hero--line"></div>
    </div>
  </div>
</div>

<section class="index--sportfishing">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1>FIRST CLASS SPORTFISHING</h1>
        <h3>IN KLAWOCK, ALASKA</h3>
        <p>Your fearless fish boss of RedSky Sportfishing will take you on a fully guided fishing charter, exploring some of the finest waters Southeast Alaska has to offer.</p>
      </div>
      <div class="column is-4">
        <a href="/pricing">
          <div class="card pricing-card">
            <div class="card-content">
              <h5>VIEW PRICING</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-4">
        <a href="#about">
          <div class="card about-card">
            <div class="card-content">
              <h5>GET TO KNOW US</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-4">
        <a href="/contact">
          <div class="card fish-card">
            <div class="card-content">
              <h5>LET’S FISH</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-8">
        <a href="#">
          <div class="card video-card">
            <div class="card-content">
              <h5>AN AVERAGE DAY FISHING</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="column is-4">
        <a href="/trip-schedule">
          <div class="card trip-card">
            <div class="card-content">
              <h5>TRIP SCHEDULE</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<div id="about" class="container is-fluid index--about-logo">
  <div class="columns">
    <div class="column is-3 is-offset-9">
        <img src="/img/about_logo.png" alt="">
    </div>
  </div>
</div>


<section class="index--about has-background-light">
  <div class="container">
    <div class="columns">
      <div class="column is-5">
        <img src="/img/about_photo.jpg" alt="">
      </div>
      <div class="column is-7">
        <h1>GET TO KNOW US</h1>
        <h3>& get ready for adventure</h3>
        <p>Captain Roby Medina is a lifelong resident of Prince of Wales Island and is an Alaskan native of Klawock belonging to the Tlingit and Haida Tribes of Prince of Wales Island.</p>

        <p>He has a 50 ton Masters Captains license issued by the U.S. Coast Guard and started guiding on Prince of Wales Island over 14 years ago, although he has been fishing the waters of Prince of Wales much longer, subsistence, sport, and commercially.</p>

        <p>In the off season he hunts, fishes and enjoys trapping and has been a local Police Officer in Craig for 10 years. Roby has an intimate knowledge of the waters of Prince of Wales and his experience on the water is sure to enhance your fishing experience.</p>
      </div>
    </div>
  </div>
</section>


<section class="index--boat">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <h1>OUR BOAT</h1>
        <h3>Enjoy the ride</h3>
        <p>Our boat is a 2019 North River Offshore 2700S powered by twin 2019 Yamaha F200’s and built to stand up to season after season of Alaska fishing. This new boat will bring a level of convenience, comfort, and reliability to our operation.</p>

        <p>Your safety, comfort, and success are our priorities, and the rigging of our new boat reflects that. In addition to all USCG requirements, she seats 7 in the heated cabin and has a private head.</p>

        <p>For fishing, she’s rigged with a reliable, quiet and efficient Yamaha 9.9 hp kicker and we use only the best rods Lamiglass has to offer equipped with Shimano Tekota line counter reels. She is fitted with Garmin electronics including a touchscreen multifunction display.</p>
      </div>
      <div class="column is-5">
        <img src="/img/boat_image.png" alt="">
      </div>
    </div>
  </div>
</section>
