<div class="hero packing-hero is-fullheight">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-12 has-text-centered has-text-white packing-hero--text">
        <h5>Drop The Line</h5>
        <h5 class="rotate">></h5>
      </div>
      <div class="column is-10 is-offset-1 packing-hero--line"></div>
    </div>
  </div>
</div>

<section class="section packing">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1>HOW TO PACK</h1>
        <h3>Get ready!</h3>
        <p>Raingear and boots will be provided. Please provide your shoe sizes prior to arrival. You can easily submit this information to your guide via the  <a href="/contact">Reservation Page.</a></p>
      </div>
      <div class="column is-4">
        <h6>What to Pack for Fishing:</h6>
        <ul>
          <li>Drivers License or I.D.</li>
          <li>Hooded Sweatshirt</li>
          <li>Jeans or Sweat / Fleece Pants</li>
          <li>Waterproof or Water Resistant Coat</li>
          <li>Gloves</li>
          <li>Base Layers / Long Johns</li>
          <li>Beanie Cap</li>
          <li>Warm Socks</li>
        </ul>
      </div>
      <div class="column is-4">
        <h6>What to Pack for Evening:</h6>
        <ul>
          <li>Casual Pants</li>
          <li>Casual Shirt</li>
          <li>Comfortable Shoes</li>
          <li>Light Jacket / Sweatshirt</li>
        </ul>
      </div>
      <div class="column is-4">
        <h6>What Other Items to Pack:</h6>
        <ul>
          <li>Toiletries</li>
          <li>Prescription & Seasick Medications</li>
          <li>Sunscreen</li>
          <li>Camera</li>
          <li>Binoculars</li>
          <li>Sunglasses</li>
        </ul>
      </div>
    </div>
  </div>
</section>
