<div class="hero pricing-hero is-fullheight">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-12 has-text-centered has-text-white pricing-hero--text">
        <h5>Drop The Line</h5>
        <h5 class="rotate">></h5>
      </div>
      <div class="column is-10 is-offset-1 pricing-hero--line"></div>
    </div>
  </div>
</div>

<section class=" section pricing--packages">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1>PRICING PACKAGES</h1>
        <h3>Let’s plan your 2019 fishing trip</h3>
        <p>We are a small, guest-centered operation catering to groups wanting a more elite, private and intimate experience. We prefer to fish no more than 4 anglers on our boat.</p>
      </div>
      <div class="column is-12 has-text-centered pricing--packages__prices">
        <h4>2 Person Trip Per Boat……… $2,500 per person</h4>
        <h4>3 Person Trip Per Boat……… $2,300 per person</h4>
        <h4>4 Person Trip Per Boat……… $2,100 per person</h4>
      </div>
    </div>
  </div>
</section>

<section class="section pricing--package-details">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-11 is-offset-1">
        <div class="columns pricing--package-details__header">
          <div class="column is-5">
            <h5>PACKAGE DETAILS</h5>
          </div>
          <div class="column is-3 is-offset-3">
            <div class="button">
              Reserve Now
            </div>
          </div>
        </div>
        <div class="columns pricing--package-details__content">
          <div class="column is-6 pricing--package-details__content-left">
            <h3>Includes</h3>
            <ul>
              <li>Fishing Gear</li>
              <li>3 Full Days of Fishing</li>
              <li>4 Nights Stay at Klawock River Inn</li>
              <li>Sack Lunches</li>
              <li>Fish Processing</li>
              <li>Ground Transportation To & From Airport</li>
              <li>Vehicle for the Duration of your Trip</li>
            </ul>
          </div>
          <div class="column is-6 pricing--package-details__content-right">
            <h3>DOES NOT Include</h3>
            <ul>
              <li>Fish License Fee</li>
              <li>Flights To & From Ketchikan</li>
              <li>Shipping Fees</li>
              <li>Gratuities</li>
              <li>Meals</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pricing--bookings-deposits section">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h3>BOOKING & DEPOSITS</h3>
        <p>RedSky Sportfishing takes extreme pride in having a positive relationship with our guests, many of whom come back year after year. Those who have been here understand that we run an exclusive business in a remote area. The following policies are in place not only to protect us, but also to assure you we are taking care of our end of the business up here.</p>
        <p>With a limited number of spots and available dates, we recommend you reserve your desired dates as early as possible. A $1,000 per person deposit is the only way to reserve a date.</p>
        <p>An additional deposit totaling 50% of the package price is to be received no later than May 30 of the year of your trip. The entire balance is due on June 01, of the year of your trip.</p>
        <p>Reservations made after March 1 of the year of the scheduled fishing trip must be paid in full within 30 days of booking but no fewer than 30 days prior to your scheduled arrival.</p>
        <p>Availability and rates are subject to change at any time and without notice. Redsky Sportfishing accepts checks and all major credit cards.</p>
        <p>Reservations that do not comply to the above deposit and payment policies may be subject to cancellation.</p>
      </div>
      <div class="column is-12 pricing--bookings-deposits__lower">
        <h3>CANCELLATIONS</h3>
        <p>RedSky Sportfishing understands that sometimes unexpected events can get in the way of travel to remote regions. To protect your investment as well as ours, we recommend that all our guests purchase travel insurance at the time of booking so you know you are covered in the event of an unplanned emergency.</p>
        <p>RedSky Sportfishing will go above and beyond your expectations but sometimes inclement weather or some other condition beyond our control can occur. RedSky Sportfishing will not be held liable for any conditions beyond our reasonable control. These losses may include but are not limited to: loss of fishing time, transportation, lodging, meals, luggage, fish boxes, and/or flight delays.</p>
      </div>
    </div>
  </div>
</section>
