<div class="hero trip-hero is-fullheight">
  <div class="container is-fluid">
    <div class="columns is-multiline">
      <div class="column is-12 has-text-centered has-text-white trip-hero--text">
        <h5>Drop The Line</h5>
        <h5>></h5>
      </div>
      <div class="column is-10 is-offset-1 trip-hero--line"></div>
    </div>
  </div>
</div>

<section class="section trip-schedule">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <h1>TRIP SCHEDULE</h1>

        <h3>Here’s our agenda</h3>

        <h6>DAY ONE</h6>

        <p><strong>Arrive in Klawock and check-in to Klawock River Inn.</strong> Check in time is 3:00PM but special arrangements can be made for earlier check in’s.</p>

        <p><strong>Stops can be made at the Klawock AC grocery store</strong> which is large grocery store that will have everything you will need. In the same strip mall there is large liquor store, and a bakery / coffee shop.</p>

        <p><strong>We will also have the opportunity to stop and get fishing licenses</strong> if you do not get it online prior to your arrival. You can purchase your fishing license online here.</p>

        <h6>DAY TWO</h6>

        <p><strong>We will pick you up from your lodging at 5:30 am, and depart the dock between 5:30 am - 6:00 am. Once on board we will depart the dock and run approximately 45 minutes – 1 hour to the fishing grounds.<strong></p>

        <p><strong>Our boat will return to the dock between 3:00 pm – 4:30 pm in the afternoon your fish will be processed and froze.</strong> Once moored we suggest exploring the community or relaxing and taking in the beautiful view from you room. You’ll need to make dinner selections from one of the local restaurants or choose to make your own dinner with supplies from the store.</p>

        <p><strong>The Fireweed Lodge is a reservation only, fine dining restaurant and is a 5 minute walk from your lodging and are highly recommended.</strong></p>

        <h6>DAY THREE</h6>

        <p><strong>This will be the second full day of fishing.</strong></p>

        <h6>DAY FOUR</h6>

        <p><strong>This will be the third full day of fishing.</strong></p>

        <h6>DAY FIVE</h6>

        <p><strong>Departure on your Island Air flight to make your connecting flight at the Ketchikan airport.<strong></p>

      </div>
    </div>
  </div>
</section>
